<%= render 'shared/header', title: "Categories" %>
<%= render 'shared/flash' %>

<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name.capitalize, category %></li>
<% end %>
</ul>
