<% show_post ||= false %>

<article class="card bg-light mb-3" style="max-width: 18rem;">
  <div class='row no-gutters h-100'>
    <aside class='col-md-2 votes text-center'>
      <%= render 'shared/vote', obj: comment %>
    </aside>

    <section class='col-md-10'>
      <main class="card-body">
        <p class="card-text"><%= comment.body %></p>
      </main>

        <footer class='card-footer'>
        <small class='text-muted'>
        <% if show_post %>
          <%= link_to comment.post.title, post_path(comment.post) %>
        <% end %>
        </small>
        <%= render 'shared/creator_details', obj: comment %>
        </footer>
  </div>
</article>
