<article class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <p class="card-text"><%= comment.body %></p>
    <%= render 'shared/creator_details', obj: comment %>
  </div>
</article>
